  <nav class="navbar navbar-expand-xl navbar-dark bg-dark" style="width: auto;">
    <div class="container">
      <a routerLink="/" class="navbar-brand">Template Builder</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarMain">
        <ul class="navbar-nav mr-auto">
          <a routerLink="dashboard" class="nav-link">Dashboard</a>
        </ul>
      </div>
    </div>
  </nav>

